:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html{
  height: 100%;

}
div {
    display: inline;
}
body, html {
   margin: 0;
   padding: 0;
   place-items: center;
   display: flex;
      height: 100%; /* Imposta un'altezza specifica per body e html */
    }
#app{

  height: 80%;
  display: flex;
}
.topBar,
    .bottomBar {
      width: 100%;
      height: 10%; /* Altezza del 20% per entrambe le barre */
      background-color: #333333;
      margin: 3%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 20px;
    }

    .canvas {
      height: 60%; /* Altezza del 60% per la canvas */
      width: 100%;
      margin: 0 5%;

    }

    ul, .bottomBar>ul {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
      display: flex; /* Utilizza Flexbox per allineare gli elementi */
      justify-content: center; /* Distanza uniforme tra gli elementi */
      align-items: center;
      height: 100%; /* Altezza al 100% per gli <ul> interni */
    }
    form{
    height: 100%;

    }
    li {
    padding: 2%;
    }

    button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/*

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
    display: flex;
    flex-direction: column;
  height: 90%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  height: 20%;
  display: inline;
}
li {
  float: left;
}

.div_canvas{
  width: 60%;

}
.canvas{
  margin: 15px;
  width: 80%;
  height: 80%;
}
*/